<h5><%= investment.campaign.company.name %> </h5>
<span>
  <%#= cl_image_tag investment.campaign.photo.key, style:"height: 150px; width: 100%; object-fit: cover;", class:"card-img-top :width=>70 :height=>20 :crop=>'scale' z"%>
</span>
<h5 class="mt-3">$ <%= investment.amount %></h5>

