<div class="container-fluid p-0">
  <div class="row">

    <div class="col-lg-2">
      <%= render '/shared/investor_dashboard_sidebar' %>
    </div>

    <div class="col-lg-10 p-0" style="min-height: calc( 100vh - 73px - 75px);">

      <h3 class="my-4">Map of your investments</h3>
      <div class="d-flex pr-4">
        <div id="mapbox" class="rounded" style="width: 100%; height: 60vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
