<div class="container-fluid p-0">
  <div class="row">
    <div class="col-2">
      <%= render '/shared/investor_dashboard_sidebar' %>
    </div>
    <div class="col-md-10 col-lg-10 p-0">
      <!-- # Tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Funded</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> Funding in progress </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- # insert prod card -->
          <div class="row">
            <%= render '/shared/myinvestmentclosed_card' %>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <!-- # insert prod card -->
          <div class="row">
            <%= render '/shared/myinvestmentopen_card' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
