<h1>Investments#show</h1>

<!-- investment card -->
  <div class="d-flex justify-content-center">
    <div class="card-invest">
      <h5>10 days left</h5>
      <h1>Tipo Siete</h1>
      <div class="box-align">
        <h4>$100,000 target</h4>
      </div>
      <div class="target-bar">
        <div class="target-bar-percentage">
          <p class="w-100 align-self-center">79%</p>
        </div>
      </div>
      <div class="box-align d-flex justify-content-between">
        <div class="text-center">
          <h4>$79,540</h4>
          <p>raised</p>
        </div>
        <div class="align-self-center" style="border: 1px solid lightgrey; height: 50px">
        </div>
        <div class="text-center">
          <h4>5%</h4>
          <p>interest</p>
        </div>
        <div class="align-self-center" style="border: 1px solid lightgrey; height: 50px">
        </div>
        <div class="text-center">
          <h4>119</h4>
          <p>investors</p>
        </div>
      </div>
    </div>
<!-- investmet card closing div -->
  </div>
