<p>Hi <%= @user.first_name %>,</p>

<p>welcome to the Fundeat community! This is where great Restaurant investing starts... </p>

<%= link_to("Start investing", root_url) %>
<!-- <a href="http://www.fundeat.club/campaigns">Start investing</a> -->

<p>Best regards,</p>

<p>Your Fundeat-Team</p>
