// Specific CSS for your home-page
body {
  background-color: white;
}

.choose-option {
  width: 800px;
  height: 150px;
  border-radius: 10px;
  background-color: #F3F3F3;
}

.pic-home {
  width: 430px;
  height: 250px;
  border-radius: 10px;
}

.text-box {
  width: 20%;
  text-align: center;
}
