// Specific CSS for your home-page
body {
  background-color: white;
}

.choose-option {
  height: 150px;
  width:100%;
  border-radius: 10px;
  background-color: #F3F3F3;
}

.choose-option-campaigns {
  height: 200px;
  border-radius: 10px;
  background-color: #F3F3F3;
}

.pic-home {
  width: 430px;
  height: 250px;
  border-radius: 10px;
}

.text-box {
  width: 20%;
  text-align: center;
}

.status {
  position: relative;
  left: 0px;
  bottom:23px;
}

.object-fit-cover {
  object-fit: cover;
}

@media (min-width: 768px) {
  .border-md-0 {
    border: none !important;
  }
  .home-cta{
    // padding-top:50px ;
    // margin-top: 50px;
    border-color: black;
    border-size: 5px;
  }
}

@media (min-width: 576px) {

  .choose-option {
    width:65%;
}

}


