      <a href="/myinvestments" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/myinvestments/dashboard" class="list-group-item list-group-item-action bg-light">Investments</a>
      <a href="/myinvestments/myrewards" class="list-group-item list-group-item-action bg-light">Rewards</a>
      <a href="/myinvestments/mymap" class="list-group-item list-group-item-action bg-light">Map</a>
