<p>TEST</p>

<canvas data-graph="<%= JSON.generate(@graph_data) %>" id="bar" width="400" height="400"></canvas>
<canvas data-graph="<%= JSON.generate(@graph_data) %>" id="pie" width="400" height="400"></canvas>

