<!-- graphic area in html -->

<h4><small>Public Preferences</small></h4>

<div class="row margin-top">

 <div class="col-md-10 col-md-offset-1">

     <div id="chartPreferences" class="ct-chart "></div>

 </div>

</div>

<div class="row">

 <div class="col-md-10 col-md-offset-1">

     <h6>Legend</h6>

     <i class="fa fa-circle text-info"></i> Apple

     <i class="fa fa-circle text-success"></i> Samsung

     <i class="fa fa-circle text-warning"></i> BlackBerry

     <i class="fa fa-circle text-danger"></i> Windows Phone

 </div>

</div>


