<!-- text left of carousel  -->
<div class="">
  <div class="h-100 mr-5 pr-5">
    <div>
      <h1 class="my-3"><span class="font-weight-bold">FUND</span> your local places where you enjoy to <span class="font-weight-bold">EAT</span></h1>
      <!-- <h4>We love the ambitious, the creative and the determined restaurants who are on a mission to leave a mark on Argentina</h4> -->
      <h6 class="my-5 pr-5 text-secondary">Fundeat enables Restaurants to easily raise money and gives private investors the opportunity to sustainably invest in their local community</h6>
    </div>
    <div class="d-flex">
      <a><%= link_to "Start investing", "/campaigns", class: "btn route-button-full px-4 py-2 mr-3" %></a>

      <a><%= link_to "Start raising", "#", class: "btn route-button-outline px-4 py-2" %></a>
    </div>
  </div>
</div>

<!-- <div class="col-lg-3 d-none d-lg-block">
  <div class="h-100 text-center align-self-center ml-3 d-flex justify-content-center align-items-center">
  </div>
</div> -->
