<div class="row d-flex justify-content-center mx-5 mt-5">
  <div class="col-12 col-md-4 text-center border-bottom border-md-0 border-secondary kpi">
    <h2 class="font-weight-bold "  >70k</h2>
    <h4>Since last investment</h4>
  </div>

  <div class="col-12 col-md-4 text-center border-bottom border-md-0 border-secondary">
    <h2 class="font-weight-bold">23</h2>
    <h4>Restaurants funded</h4>
  </div>

  <div class="col-12 col-md-4 text-center border-bottom border-md-0 border-secondary">
    <h2 class="font-weight-bold" >681</h2>
    <h4>investors served</h4>
  </div>
</div>


