
.img-sm-grey {
  padding: 16px;
  background-color: #f4f4f4;
  border-radius: 20px;
  border: 1px solid white;
  height: 144px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


@media (min-width: 1024px) {
  .position-stickty-top-90-right {
    position: sticky;
    top: 90px;
  }
}

.card-investment-play {
  border: 2px solid #1EDD88;
}


.reward {
  background-color: white;
  i.fas {
    // color: #1edd88;
    color: #a0edc3;
    // color: grey;
  }
  p {
    color: grey;
  }
  &.active {
    background-color: #a0edc3;
    i.fas {
      color: white;
    }
    p {
      color: black;
    }
  }
}

.address-box-green {
  background-color: #e8faf0;
  border-radius: 10px;
  border: 1px solid white;
  color: grey;
  padding: 0 12px;
}
