
.badge-hour {
    color: #e9ecef;
    background-color: red;
    border-radius: 20px;
    padding:10px;
}

.badge-open {
    color: #e9ecef;
    background-color: $fundeatlogo-green;
    border-radius: 20px;
    padding:10px;
}

.badge-closed {
    color: #e9ecef;
    background-color: orange;
    border-radius: 20px;
    padding:10px;
}
