
.wrapper-link {
  text-decoration: none!important;
  color: black;
  margin: 0;
}

.wrapper-link:hover {
  text-decoration: none!important;
  color: black;
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

.card-investment {
  min-height: 510px;
  background-color: #F3F3F3;
  border-radius: 20px;
  box-shadow: 0 0 24px rgba(33,33,33,.3);
  // padding:20px;
}

.card-investment-body {
    padding: 20px;
}

.card-investment ul {
  // list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
}

.card-investment .card-pic {
  height: 180px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.card-investment .card-user {
  position: relative;
}

.card-investment .card-user .avatar-m-square {
  position: absolute;
  left: 15px;
  top: 150px;
}

.card-investment .target-bar {
  height: 30px;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
}

.card-investment .target-bar-percentage {
  margin-left: 0px;
  width: 79%;
  height: 30px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  display: flex;
}

#progress-bar-percentage {
  margin-left: 0px;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  color: white;
  font-weight: bold;
  display: flex;
}

progress[value]::-webkit-progress-value {
  background-image:
  -webkit-linear-gradient(left, $fundeatlogo-green, $fundeatlogo-green);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.card-investment .box-align {
  margin: 2px 0;
}

// fonts and headers
.card-investment h1{
  font-size: 22px;
  max-height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-investment h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-investment h5{
  text-align: right;
}

.card-investment h6{
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.card-investment p{
  margin: 0px;
  font-size: 12px;
  text-align: justify;
}

.statusbar-relative{
  position: relative;
  left: 10px;
  bottom:23px;
  p{
    color:white;
  }

}
.tall{
  min-height:72px;
}
