
.card-wrapper {
  margin: 25px;

}

.card-invest {
  height: 460px;
  width: 370px;
  background-color: #F3F3F3;
  border-radius: 20px;
  margin-top: 25px;

}

.card-invest .input-field {
  width: 200px;
  height: 35px;
  border-radius: 8px;
  background-color: white;
  // margin: 20px;
}

.card-invest .range {
  height: 10px;
  width: 300px;
  background-color: grey;
  border-radius: 8px;
  margin: 0 auto;
}


//



