
// progress[value] {
//   width: 250px;
//   height: 50px;
// }
.wrapper-link {
  text-decoration: none!important;
  color: black;
  margin: 0;
}

.wrapper-link:hover {
  text-decoration: none!important;
  color: black;
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

.card-investment {
  height: 480px;
  width: 380px;
  background-color: #F3F3F3;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 0 24px rgba(33,33,33,.3);
  // padding:20px;
}


.card-investment ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card-investment .card-pic {
  height: 190px;
  width: 380px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.card-investment .card-user {
  position: relative;
}

.card-investment .card-user .avatar-m-square {
  position: absolute;
  left: 15px;
  top: 147px;
}

.card-investment .target-bar {
  width: 340px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
}

.card-investment .target-bar-percentage {
  margin-left: 0px;
  width: 79%;
  height: 30px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  display: flex;
}

#progress-bar-percentage {
  margin-left: 0px;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  color: white;

  font-weight: bold;
  display: flex;
}

progress[value]::-webkit-progress-value {
  background-image:
  -webkit-linear-gradient(left, lightgrey, lightgrey);
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.card-investment .box-align {
  margin: 2px 20px;
}

// fonts and headers
.card-investment > h1{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 22px;
}

.card-investment h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-investment h5{
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

.card-investment h6{
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.card-investment p{
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  text-align: justify;
}



