.address-box-green {
  background-color: #e8faf0;
  border-radius: 10px;
  border: 1px solid white;
  color: grey;
  padding: 0 12px;
  z-index: 2;
  position: absolute;
  bottom: 53px;
  left: 20px;
}

.markers {

}
