.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 25px;
  width: 140px;
}

.nav-link-custom {
  color: #5D5347;
  display: block;
  padding: 0.5rem 1rem;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: #00B63A;
  }
}


