
#home-tab{
  color: white;
  background-color: gray;
  border-color: #dee2e6 #dee2e6 #fafafa;
}

#home-tab.active{
  color: black;
  background-color: white;
  border-color: #dee2e6 #dee2e6 #fafafa;
}

#profile-tab{
  color: white;
  background-color: gray;
  border-color: #dee2e6 #dee2e6 #fafafa;
}


#profile-tab.active{
  color: black;
  background-color: white;
  border-color: #dee2e6 #dee2e6 #fafafa;
}


