<div class="d-flex" id="wrapper">

  <!-- sidebar -->
  <div class="col-md-2 col-lg-2 p-0">
    <%= render '/shared/owner_dashboard_sidebar' %>
  </div>

  <div class="col-md-10 col-lg-10 p-0">
    <h3>here come's the page for investors</h3>

  </div>

