  <div class="banner-campaign d-flex align-items-center justify-content-center">
    <h3 class="banner-title">Raise today!</h3>
  </div>

  <div class="container mt-5">
    <div class="d-flex justify-content-between">
      <p class="text-center align-self-center"style="font-size:18px; width: 300px" >
        <em>"We're fanatical about supporting passionate founders and their teams who want to leave a mark on the world. We're supporting the visionaries whose purpose inspires belief from their colleagues, customers and communities, who want to fuel a brighter future. Whether you're a start-up or scale-up, foodie or techie, mover or shaker; we're right behind you."</em>
      </p>
      <iframe width="650" height="350" style="border-radius: 20px" src="https://www.youtube.com/embed/Qsnap5Oh8S8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div class="d-flex justify-content-center">
      <h5 class="mt-5"><%= link_to "Get started", "/campaigns/new", class: "btn btn-secondary" %></h5>
    </div>


    <div class="container">
      <div class="w-90 my-4 mx-auto" style="border: 1px solid lightgrey">
      </div>


      <div class="d-flex">
        <picture>
          <source  media="(min-width: 768px)"
          srcset="//my-assets.netlify.com/codepen/dailyui-001/img.png     340w,
          //my-assets.netlify.com/codepen/dailyui-001/img@2x.png  680w,
          //my-assets.netlify.com/codepen/dailyui-001/img@3x.png 1020w"
          sizes="360px" />
          <source srcset="//my-assets.netlify.com/codepen/dailyui-001/img-small.png     340w,
          //my-assets.netlify.com/codepen/dailyui-001/img-small@2x.png  680w,
          //my-assets.netlify.com/codepen/dailyui-001/img-small@3x.png 1020w"
          sizes="(min-width: 320px) 290px,
          (min-width: 480px) 435px
          (min-width: 640px) 580px" />
          <img       src="//my-assets.netlify.com/codepen/dailyui-001/img.png"
          alt="Citymap illustration" />
        </picture>

        <div class="d-flex flex-column align-self-center">
          <div class="ml-4 mt-5 mb-2 d-flex">
            <i class="fas fa-store mr-3" style="font-size: 1.5em; color: grey"></i>
            <div class="d-flex flex-column">
              <h3>Success Stories</h3>
              <p>See how inspiring entrepreneurs are making a change.</p>
            </div>
          </div>

          <div class="ml-4 my-2 d-flex">
            <i class="fas fa-seedling mr-3" style="font-size: 1.5em; color: grey"></i>
            <div class="d-flex flex-column">
              <h3>Grow your business</h3>
              <p>Convert your superfans into stakeholders to fuel your long-term growth.</p>
            </div>
          </div>


          <div class="ml-4 my-2 d-flex">
            <i class="fas fa-people-carry mr-3" style="font-size: 1.5em; color: grey"></i>
            <div class="d-flex flex-column">
              <h3>Guidance with every step</h3>
              <p>Our team of experts will help you create, grow and engage your community.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="w-90 my-4 mx-auto" style="border: 1px solid lightgrey">
      </div>



      <!-- horizontal line -->
      <div class="w-90 my-4 mx-auto" style="border: 1px solid lightgrey">
      </div>

      <!-- <button class="btn btn-primary mx-5" id="menu-toggle"><small>Menu</small></button> -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="mt-4 mb-3 text-center">Fuel your future</h1>
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">What</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Why</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">How</a>
              </li>
            </ul>

            <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <iframe width="650" height="350" style="border-radius: 20px" src="https://www.youtube.com/embed/0DbVwG0Kze8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <iframe width="650" height="350" style="border-radius: 20px" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <iframe width="650" height="350" style="border-radius: 20px" src="https://www.youtube.com/embed/677ZtSMr4-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- horizontal line -->
    <div class="container">
      <div class="w-90 my-4 mx-auto" style="border: 1px solid lightgrey">
      </div>
    </div>

    <!-- /#page-content-wrapper -->
    <div class="mb-4 d-flex flex-column text-center">
      <h1>Are you ready to start raising?</h1>
      <p>To be eligible to raise investment on Fundeat, we need to check a few things first. Please ready through and confirm the following:</p>


      <div class="d-flex justify-content-center my-4">
        <div class="choose-option-campaigns d-flex h">

          <div class="d-flex flex-column w-50 justify-content-center text-center">
            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox1">Your business is based in Argentina</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled checked>
            </div>

            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox2">Your business is a private limited business</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"disabled checked>
            </div>
            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox3">You have lead investment</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"disabled checked>
            </div>
          </div>

          <!-- line -->
          <div class="h-75 align-self-center" style="border: 1px solid lightgrey">
          </div>

          <div class="d-flex flex-column w-50 justify-content-center text-center">
            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox1">You have a website (not social channels) or app</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"disabled checked>
            </div>
            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox2">You are looking for $10,000 or more</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"disabled checked>
            </div>
            <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
              <label class="form-check-label" for="inlineCheckbox3">You understand you need to engage and convert your community into valued shareholders</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"disabled checked>
            </div>
          </div>


        </div>
      </div>


      <div class="custom-control custom-checkbox my-4">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">I have read and understand I need the above to be eligible to raise finance.</label>
      </div>

      <h5><%= link_to "Start raising", "/campaigns/new", class: "btn btn-secondary" %></h5>
    </div>


    <!-- Menu Toggle Script -->
    <script>
      const toggle = document.getElementById("menu-toggle");
      toggle.addEventListener('click', (e) => {
        e.preventDefault();
        document.getElementById("wrapper").classList.toggle('toggled');
      });
    </script>

