<div class="banner-campaign d-flex align-items-center justify-content-center">
  <h3 class="banner-title w-50 bg-light px-4 pt-4">
    <blockquote class="blockquote">
      <p class="mb-0">Crowfunding will become the future of how most small businesses are going to be financed.</p>
      <footer class="blockquote-footer mt-3 text-right">Duncan Niederauer <cite title="Source Title">(former NYSE CEO)</cite></footer>
    </blockquote>
  </h3>
</div>

<div class="mt-5">
  <div class="row px-5">
    <div class="d-flex align-items-center justify-content-around">

      <%= image_tag "business.svg", class:"col-4", style:"margin-left: 128px; padding: 32px 64px;" %>

      <div class="d-flex col-6 flex-column align-self-center mx-5 pr-5" style="width: 45%">
        <div class="ml-4 mt-5 mb-2 d-flex align-items-top">
          <i class="fas fa-trophy icon-style"></i>
          <div class="d-flex flex-column">
            <h3>100+ Success Stories</h3>
            <p>Fundeat has helped more than 100 restaurant owners to successfully fund their business development plans.</p>
          </div>
        </div>


        <div class="ml-4 my-2 d-flex align-items-top">
          <i class="fas fa-seedling icon-style"></i>
          <div class="d-flex flex-column">
            <h3>Grow your business</h3>
            <p>Convert your superfans into stakeholders to fuel your long-term growth.</p>
          </div>
        </div>


        <div class="ml-4 my-2 d-flex align-items-top">
          <i class="fas fa-people-carry icon-style"></i>
          <div class="d-flex flex-column">
            <h3>Guidance with every step</h3>
            <p>Our team of experts will help you create, grow and engage your community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-primary mx-5" id="menu-toggle"><small>Menu</small></button> -->
<div class="m-0 mt-5 p-0 w-100" style="background-color: #f3f3f3;">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="mt-4 mb-4 text-center">Get to know more about Crowdfunding</h1>
      <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item mx-3">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">What</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Why</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">How</a>
        </li>
      </ul>

      <div class="tab-content d-flex mb-4 justify-content-center" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <iframe width="650" height="350" style="border-radius: 10px" src="https://www.youtube.com/embed/0DbVwG0Kze8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <iframe width="650" height="350" style="border-radius: 10px" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <!-- <iframe width="650" height="350" style="border-radius: 10px" src="https://www.youtube.com/embed/677ZtSMr4-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <iframe width="650" height="350" style="border-radius: 10px" src="https://www.youtube.com/embed/Qsnap5Oh8S8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div class="position-relative">
  <div class="my-4 pt-5 d-flex flex-column text-center">
    <h1 class="mb-5">Are you ready to start raising?</h1>
    <p class="w-50 text-left mx-auto">To be eligible to raise investment on Fundeat, we need to check a few things first. Please ready through and confirm the following:</p>


    <div class="d-flex justify-content-center my-3">
      <div class="choose-option-campaignsxx d-flexxx h">

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">Your business is based in Argentina</p>
        </div>

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">Your business is a private limited business</p>
        </div>

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">You have lead investment</p>
        </div>

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">You have a website (not social channels) or app</p>
        </div>

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">You are looking for $10,000 or more</p>
        </div>

        <div class="check-line-item d-flex align-items-center">
          <i class="fas fa-check mr-3 font-weight-bold" style="color: rgb(23,173,44);"></i>
          <p class="m-0">You understand you need to engage and convert your community into valued shareholders</p>
        </div>



        <div class="custom-control d-flex custom-checkbox my-4 align-items-start">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label text-left" for="customCheck1">I have read and understand I need the above to be eligible to raise finance.</label>
        </div>

        <h5>
          <%= link_to "/campaigns/new" do %>
          <button class="btn btn-success px-5 my-4" style="font-size: 18px;" id="btncheck" disabled>Start raising</button>
          <% end %>
        </h5>

        <!-- <div class="d-flex flex-column w-50 justify-content-center text-center">
          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center d-flex">
            <label class="form-check-label" for="inlineCheckbox1">Your business is based in Argentina</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled checked>
          </div>

          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
            <label class="form-check-label" for="inlineCheckbox2">Your business is a private limited business</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"disabled checked>
          </div>
          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
            <label class="form-check-label" for="inlineCheckbox3">You have lead investment</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"disabled checked>
          </div>
        </div>

        <div class="h-75 align-self-center" style="border: 1px solid lightgrey"></div>

        <div class="d-flex flex-column w-50 justify-content-center text-center">
          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
            <label class="form-check-label" for="inlineCheckbox1">You have a website (not social channels) or app</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"disabled checked>
          </div>
          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
            <label class="form-check-label" for="inlineCheckbox2">You are looking for $10,000 or more</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"disabled checked>
          </div>
          <div class="form-check form-check-inline mb-2 d-flex flex-column text-center">
            <label class="form-check-label" for="inlineCheckbox3">You understand you need to engage and convert your community into valued shareholders</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"disabled checked>
          </div>
        </div> -->

      </div>
    </div>


<!--
    <div class="custom-control custom-checkbox my-4 align-items-start">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label w-25 text-left" for="customCheck1">I have read and understand I need the above to be eligible to raise finance.</label>
    </div> -->

  </div>

  <div class="d-flex flex-column align-items-end pr-5">
    <%= image_tag "review.svg", class:"col-4 position-absolute align-self-end pb-5", style:"bottom: 1px; padding-right: 152px;" %>
  </div>
</div>



<style>
  input[type="checkbox"]:checked + label::after {
    background-color: rgb(23,173,44);
    border-radius: 2px;
  }
</style>

<!-- Menu Toggle Script -->
<script>
  window.onload = () => {
        // const toggle = document.getElementById("menu-toggle");
        // toggle.addEventListener('click', (e) => {
        //   e.preventDefault();
        //   document.getElementById("wrapper").classList.toggle('toggled');
        // });

        const chk = document.getElementById('customCheck1');
        const btn = document.getElementById('btncheck');
        chk.addEventListener('change', () => {
          btn.disabled = !btn.disabled; //true: disabled, false: enabled
        }); //page load trigger event
      }
    </script>

