<% if user_signed_in? && current_user.user_type == 'true' %>
  <p>Internal note: You are an owner</p>
  <%= render "campaigns/shared/showowner" %>
  <%#= render "devise/shared/links" %>

<% else %>
  <%= render "campaigns/shared/showinvestor" %>
  <!-- the code on show for investor should be inside the shared/showowner.html.erb -->
<% end %>
