// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "campaigns/index";

.object-fit-cover {
  object-fit: cover;
}

.object-position-center {
  object-position: center;
}

.h-300 {
  height: 300px;
}

.text-grey {
  color: $grey;
}

.bg-lightgreen {
  background-color: #e8faf0;
}

.btn-success {
  color: white;
  background-color: #00B63A;
  border-color: #00B63A;
}

.btn-outline-success {
  color: #00B63A;
  background-color: $light-green;
  border-color: #00B63A;
}

////////////////////////////////////////////////////////////////////

.background-green {
  // background-color: $fundeatlogo-green;
  background-color: #cdebcc;
  background-image: linear-gradient(to bottom right, #cdebcc, lightblue);
}

.box-shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.route-button-outline {
  box-shadow: 0 3px 10px rgba(72, 72, 72, 0.3);
  border-radius: 5px;
  font-size: 20px;
  width: 190px;
  color: #00B63A;
  background-color: $light-green;
  border: 2px solid #00B63A;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  &:hover {
    color: #00B63A;
    font-weight: bold;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }
}

.route-button-full {
  box-shadow: 0 3px 10px rgba(72, 72, 72, 0.3);
  border-radius: 5px;
  font-size: 20px;
  width: 190px;
  color: white;
  background-color: #00B63A;
  border: 1px solid #00B63A;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  &:hover {
    color: white;
    font-weight: bold;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }
}

.fundeat-figures {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}

.nav-link {
  color: #00B63A;
  border: 1px solid #00B63A;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  &:hover {
    background-color: #00B63A;
    color: white;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }
}

.nav-pills .nav-link.active {
  background-color: #00B63A;
  color: white;
}

////////////////////////////////////////////////////

.check-line-item {
  border: 1px solid lightgrey;
  box-shadow: 0 3px 10px rgba(72, 72, 72, 0.3);
  padding: 16px;
  margin: 16px 0;
  i {
    font-size: 20px;
  }
}
